# SPDX-FileCopyrightText: Copyright (c) 2019-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
      - id: end-of-file-fixer
        exclude: ^(datasets|helmchart)/.*\.(mps|json|yaml|yml|txt)$
      - id: trailing-whitespace
        exclude: ^datasets/.*\.(mps|json|yaml|yml|txt)$
      - id: check-builtin-literals
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
        files: \.(yaml)$
        exclude: ^(helmchart)/.*\.(yaml)$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        # https://github.com/PyCQA/pydocstyle/issues/603
        additional_dependencies: [toml]
        args: ["--config=pyproject.toml"]
        exclude: |
          (?x)^(
            ci|
            cpp|
            conda|
            docs|
            notebooks
          )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.4
    hooks:
      - id: clang-format
        files: \.(cu|cuh|h|hpp|cpp|inl)$
        types_or: [file]
        args: ['-fallback-style=none', '-style=file', '-i']
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean", "--warn-all", "--strict"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.7.0
    hooks:
      - id: verify-copyright
        files: |
          (?x)
              [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx)$|
              CMakeLists[.]txt$|
              recipe[.]yaml$
        exclude: |
          (?x)^(
            ^cpp/tests/utilities/cxxopts.hpp
          )
  - repo: local
    hooks:
      - id: update-versions
        name: Update versions1.json
        entry: python ci/utils/update_doc_versions.py
        language: system
        files: docs/cuopt/source/versions1.json


default_language_version:
      python: python3
